<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.bmp</key>
	<string>image/bmp</string>
	<key>.gif</key>
	<string>image/gif</string>
	<key>.ico</key>
	<string>image/x-icon</string>
	<key>.jfif</key>
	<string>image/jpeg</string>
	<key>.jpe</key>
	<string>image/jpeg</string>
	<key>.jpeg</key>
	<string>image/jpeg</string>
	<key>.jpg</key>
	<string>image/jpeg</string>
	<key>.mdi</key>
	<string>image/vnd.ms-modi</string>
	<key>.pct</key>
	<string>image/pict</string>
	<key>.pict</key>
	<string>image/pict</string>
	<key>.psd</key>
	<string>image/photoshop</string>
	<key>.qtif</key>
	<string>image/x-quicktime</string>
	<key>.rle</key>
	<string>image/rle</string>
	<key>.tif</key>
	<string>image/tiff</string>
	<key>.tiff</key>
	<string>image/tiff</string>
	<key>.wmf</key>
	<string>image/wmf</string>
	<key>.xbm</key>
	<string>image/x-xbitmap</string>
	<key>.asf</key>
	<string>video/x-ms-asf</string>
	<key>.asx</key>
	<string>video/x-ms-asf</string>
	<key>.avi</key>
	<string>video/avi</string>
	<key>.dv</key>
	<string>video/x-dv</string>
	<key>.m1v</key>
	<string>video/mpeg</string>
	<key>.m4v</key>
	<string>video/m4v</string>
	<key>.mov</key>
	<string>video/quicktime</string>
	<key>.mp2v</key>
	<string>video/mpeg</string>
	<key>.mp4</key>
	<string>video/mp4</string>
	<key>.mpa</key>
	<string>video/mpeg</string>
	<key>.mpe</key>
	<string>video/mpeg</string>
	<key>.mpeg</key>
	<string>video/mpeg</string>
	<key>.mpg</key>
	<string>video/mpeg</string>
	<key>.mqv</key>
	<string>video/quicktime</string>
	<key>.qt</key>
	<string>video/quicktime</string>
	<key>.wm</key>
	<string>video/x-ms-wm</string>
	<key>.wmv</key>
	<string>video/x-ms-wmv</string>
	<key>.wmx</key>
	<string>video/x-ms-wmx</string>
	<key>.wvx</key>
	<string>video/x-ms-wvx</string>
    <key>.aa</key>
    <string>audio/audible</string>
    <key>.aac</key>
    <string>audio/aac</string>
    <key>.adts</key>
    <string>audio/aac</string>
    <key>.aif</key>
    <string>audio/aiff</string>
    <key>.aifc</key>
    <string>audio/aiff</string>
    <key>.aiff</key>
    <string>audio/aiff</string>
    <key>.amr</key>
    <string>audio/amr</string>
    <key>.au</key>
    <string>audio/basic</string>
    <key>.caf</key>
    <string>audio/x-caf</string>
    <key>.cdda</key>
    <string>audio/aiff</string>
    <key>.gsm</key>
    <string>audio/x-gsm</string>
    <key>.m3u</key>
    <string>audio/mpegurl</string>
    <key>.m4a</key>
    <string>audio/m4a</string>
    <key>.m4b</key>
    <string>audio/m4b</string>
    <key>.m4p</key>
    <string>audio/m4p</string>
    <key>.mid</key>
    <string>audio/mid</string>
    <key>.midi</key>
    <string>audio/mid</string>
    <key>.mp2</key>
    <string>audio/mpeg</string>
    <key>.mp3</key>
    <string>audio/mpeg</string>
    <key>.ogg</key>
    <string>audio/ogg</string>
    <key>.pls</key>
    <string>audio/scpls</string>
    <key>.rmi</key>
    <string>audio/mid</string>
    <key>.rmm</key>
    <string>audio/x-pn-realaudio</string>
    <key>.sd2</key>
    <string>audio/x-sd2</string>
    <key>.snd</key>
    <string>audio/basic</string>
    <key>.wav</key>
    <string>audio/wav</string>
    <key>.wave</key>
    <string>audio/wav</string>
    <key>.wax</key>
    <string>audio/x-ms-wax</string>
    <key>.wma</key>
    <string>audio/x-ms-wma</string>
</dict>
</plist>
